In [16]:
from pandas import DataFrame as df
import pandas as pd


data = pd.read_excel(r'D:\6. Учеба\1 курс\1 курс\5. Программирование\ex_beginer_python\ex_2_1.xlsx')

for i in list(data['INSTAGRAM, МЛН']):
    print(i)

1.02
1.69
0.774
7.31
2.36
4.26
11.2
5.13
0.636
0.236
3.93
1.35
2.87
5.69
26.0
1.82
3.75
0.11
2.49
0.056

In [17]:
data

,НАЗВАНИЕ,"НАЗВАНИЕ, АНГЛ.",ЗНАЧОК,"EMOJIXPRESS, МЛН","INSTAGRAM, МЛН","ТВИТТЕР, МЛН"
0,Ухмыляюсь,Grinning,NaN,2.2600,1.020,87.3
1,Сияю от радости,Beaming,NaN,19.1000,1.690,150
2,Катаюсь от смеха,ROFL,NaN,25.6000,0.774,0*
3,Слёзы радости,Tears of Joy,NaN,233.0000,7.310,2270
4,Подмигиваю,Winking,NaN,15.2000,2.360,264
5,Счастлив,Happy,NaN,22.7000,4.260,565
6,Глаза-сердца,Heart Eyes,NaN,64.6000,11.200,834
7,Целую,Kissing,NaN,87.5000,5.130,432
8,Задумчивость,Thinking,NaN,6.8100,0.636,0*
9,Равнодушие,Unamused,NaN,6.0000,0.236,478
10,Солнечные очки,Sunglasses,NaN,4.7200,3.930,198
11,Громко плачу,Loudly Crying,NaN,24.7000,1.350,654
12,След от поцелуя,Kiss Mark,NaN,21.7000,2.870,98.7
13,Два сердца,Two Hearts,NaN,10.0000,5.690,445
14,Сердце,Heart,NaN,118.0000,26.000,1080
15,Червы,Heart Suit,NaN,3.3100,1.820,697
16,Класс,Thumbs Up,NaN,23.1000,3.750,227
17,Пожимаю плечами,Shrugging,NaN,1.7400,0.110,0*
18,Огонь,Fire,NaN,4.5000,2.490,150
19,Переработка,Recycle,NaN,0.0333,0.056,932

In [18]:
def value_mod(data: list) -> list:
    return [round(100*i/sum(data), 1) for i in data]

twitter = [87.3, 150.0, 0.0, 2270.0, 264.0, 565.0, 834.0, 432.0, 0.0, 478.0]

emojixpress = [2.26, 19.1, 25.6, 233.0, 15.2, 22.7, 64.6, 87.5, 6.81, 6.0]

part_1 = value_mod(twitter)
part_2 = value_mod(emojixpress)

part_1, part_2

([1.7, 3.0, 0.0, 44.7, 5.2, 11.1, 16.4, 8.5, 0.0, 9.4],
 [0.5, 4.0, 5.3, 48.3, 3.1, 4.7, 13.4, 18.1, 1.4, 1.2])

In [19]:
def summ_position(index:id):
    return data.iloc[index]['INSTAGRAM, МЛН'] + data.iloc[index]['EMOJIXPRESS, МЛН'] +  data.iloc[index]['ТВИТТЕР, МЛН']

from random import randint

result = 0

for _ in range(randint(1, 10)):
    result += summ_position(randint(0, 17))

result

9208.5

In [20]:
data.iloc[1][1]

'Beaming'