In [10]:
from pandas import DataFrame as df
from prettytable import PrettyTable

data = [
    ['Ухмыляюсь', 2.26, 1.02, 87.3],
    ['Сияю от радости', 19.1, 1.69, 150.0],
    ['Катаюсь от смеха', 25.6, 0.774, 0.0],
    ['Слёзы радости', 233.0, 7.31, 2270.0],
    ['Подмигиваю', 15.2, 2.36, 264.0],
    ['Счастлив', 22.7, 4.26, 565.0],
    ['Глаза-сердца', 64.6, 11.2, 834.0],
    ['Целую', 87.5, 5.13, 432.0],
    ['Задумчивость', 6.81, 0.636, 0.0],
    ['Равнодушие', 6.0, 0.236, 478.0],
    ['Солнечные очки', 4.72, 3.93, 198.0],
    ['Громко плачу', 24.7, 1.35, 654.0],
    ['След от поцелуя', 21.7, 2.87, 98.7],
    ['Два сердца', 10.0, 5.69, 445.0],
    ['Сердце', 118.0, 26.0, 1080.0],
    ['Червы', 3.31, 1.82, 697.0],
    ['Класс', 23.1, 3.75, 227.0],
    ['Пожимаю плечами', 1.74, 0.11, 0.0],
    ['Огонь', 4.5, 2.49, 150.0],
    ['Переработка', 0.0333, 0.056, 932.0]
]
data = df(data, columns=['Название', 'EMOJIXPRESS, МЛН', 'INSTAGRAM, МЛН', 'ТВИТТЕР, МЛН'])
table = PrettyTable()
table.field_names = ['НАЗВАНИЕ', 'CРЕДНЕЕ ЗА 20']
table.add_row(['EMOJIXPRESS, МЛН', str(round(data.iloc[0:20]['EMOJIXPRESS, МЛН'].mean(), 2))])
table.add_row(['INSTAGRAM, МЛН', str(round(data.iloc[0:20]['INSTAGRAM, МЛН'].mean(), 2))])
table.add_row(['ТВИТТЕР, МЛН', str(round(data.iloc[0:20]['ТВИТТЕР, МЛН'].mean(), 2))])
print(table)

+------------------+---------------+
|     НАЗВАНИЕ     | CРЕДНЕЕ ЗА 20 |
+------------------+---------------+
| EMOJIXPRESS, МЛН |     34.73     |
|  INSTAGRAM, МЛН  |      4.13     |
|   ТВИТТЕР, МЛН   |     478.1     |
+------------------+---------------+

In [12]:
def round_mod(x, option=2):
    return round(x, option)

data['I/T'] = 100 * data['INSTAGRAM, МЛН'] / data['ТВИТТЕР, МЛН']
data['I/T'] = data['I/T'].apply(round_mod)

            Название  EMOJIXPRESS, МЛН  INSTAGRAM, МЛН  ТВИТТЕР, МЛН     I/T
0          Ухмыляюсь            2.2600           1.020          87.3  1.1684
1    Сияю от радости           19.1000           1.690         150.0  1.1267
2   Катаюсь от смеха           25.6000           0.774           0.0     inf
3      Слёзы радости          233.0000           7.310        2270.0  0.3220
4         Подмигиваю           15.2000           2.360         264.0  0.8939
5           Счастлив           22.7000           4.260         565.0  0.7540
6       Глаза-сердца           64.6000          11.200         834.0  1.3429
7              Целую           87.5000           5.130         432.0  1.1875
8       Задумчивость            6.8100           0.636           0.0     inf
9         Равнодушие            6.0000           0.236         478.0  0.0494
10    Солнечные очки            4.7200           3.930         198.0  1.9848
11      Громко плачу           24.7000           1.350         654.0  0.2064
12   След от поцелуя           21.7000           2.870          98.7  2.9078
13        Два сердца           10.0000           5.690         445.0  1.2787
14            Сердце          118.0000          26.000        1080.0  2.4074
15             Червы            3.3100           1.820         697.0  0.2611
16             Класс           23.1000           3.750         227.0  1.6520
17   Пожимаю плечами            1.7400           0.110           0.0     inf
18             Огонь            4.5000           2.490         150.0  1.6600
19       Переработка            0.0333           0.056         932.0  0.0060

In [16]:
table = PrettyTable()
table.field_names = ['НАЗВАНИЕ', 'I/T']
for name, value in zip(list(data['Название']), list(data['I/T'])):
    table.add_row([name, str(value)])
print(table)

+------------------+--------+
|     НАЗВАНИЕ     |  I/T   |
+------------------+--------+
|    Ухмыляюсь     | 1.1684 |
| Сияю от радости  | 1.1267 |
| Катаюсь от смеха |  inf   |
|  Слёзы радости   | 0.322  |
|    Подмигиваю    | 0.8939 |
|     Счастлив     | 0.754  |
|   Глаза-сердца   | 1.3429 |
|      Целую       | 1.1875 |
|   Задумчивость   |  inf   |
|    Равнодушие    | 0.0494 |
|  Солнечные очки  | 1.9848 |
|   Громко плачу   | 0.2064 |
| След от поцелуя  | 2.9078 |
|    Два сердца    | 1.2787 |
|      Сердце      | 2.4074 |
|      Червы       | 0.2611 |
|      Класс       | 1.652  |
| Пожимаю плечами  |  inf   |
|      Огонь       |  1.66  |
|   Переработка    | 0.006  |
+------------------+--------+