In [8]:
from pandas import DataFrame as df
data = [
    ['Ухмыляюсь', 2.26, 1.02, 87.3],
    ['Сияю от радости', 19.1, 1.69, 150.0],
    ['Катаюсь от смеха', 25.6, 0.774, 0.0],
    ['Слёзы радости', 233.0, 7.31, 2270.0],
    ['Подмигиваю', 15.2, 2.36, 264.0],
    ['Счастлив', 22.7, 4.26, 565.0],
    ['Глаза-сердца', 64.6, 11.2, 834.0],
    ['Целую', 87.5, 5.13, 432.0],
    ['Задумчивость', 6.81, 0.636, 0.0],
    ['Равнодушие', 6.0, 0.236, 478.0],
    ['Солнечные очки', 4.72, 3.93, 198.0],
    ['Громко плачу', 24.7, 1.35, 654.0],
    ['След от поцелуя', 21.7, 2.87, 98.7],
    ['Два сердца', 10.0, 5.69, 445.0],
    ['Сердце', 118.0, 26.0, 1080.0],
    ['Червы', 3.31, 1.82, 697.0],
    ['Класс', 23.1, 3.75, 227.0],
    ['Пожимаю плечами', 1.74, 0.11, 0.0],
    ['Огонь', 4.5, 2.49, 150.0],
    ['Переработка', 0.0333, 0.056, 932.0]
]

data = df(data, columns=['Название', 'EMOJIXPRESS, МЛН', 'INSTAGRAM, МЛН', 'ТВИТТЕР, МЛН'])

data

            Название  EMOJIXPRESS, МЛН  INSTAGRAM, МЛН  ТВИТТЕР, МЛН
0          Ухмыляюсь            2.2600           1.020          87.3
1    Сияю от радости           19.1000           1.690         150.0
2   Катаюсь от смеха           25.6000           0.774           0.0
3      Слёзы радости          233.0000           7.310        2270.0
4         Подмигиваю           15.2000           2.360         264.0
5           Счастлив           22.7000           4.260         565.0
6       Глаза-сердца           64.6000          11.200         834.0
7              Целую           87.5000           5.130         432.0
8       Задумчивость            6.8100           0.636           0.0
9         Равнодушие            6.0000           0.236         478.0
10    Солнечные очки            4.7200           3.930         198.0
11      Громко плачу           24.7000           1.350         654.0
12   След от поцелуя           21.7000           2.870          98.7
13        Два сердца           10.0000           5.690         445.0
14            Сердце          118.0000          26.000        1080.0
15             Червы            3.3100           1.820         697.0
16             Класс           23.1000           3.750         227.0
17   Пожимаю плечами            1.7400           0.110           0.0
18             Огонь            4.5000           2.490         150.0
19       Переработка            0.0333           0.056         932.0

In [11]:
new_data = data.sort_values(by='Название', ascending=True)
new_data

            Название  EMOJIXPRESS, МЛН  INSTAGRAM, МЛН  ТВИТТЕР, МЛН
6       Глаза-сердца           64.6000          11.200         834.0
11      Громко плачу           24.7000           1.350         654.0
13        Два сердца           10.0000           5.690         445.0
8       Задумчивость            6.8100           0.636           0.0
2   Катаюсь от смеха           25.6000           0.774           0.0
16             Класс           23.1000           3.750         227.0
18             Огонь            4.5000           2.490         150.0
19       Переработка            0.0333           0.056         932.0
4         Подмигиваю           15.2000           2.360         264.0
17   Пожимаю плечами            1.7400           0.110           0.0
9         Равнодушие            6.0000           0.236         478.0
14            Сердце          118.0000          26.000        1080.0
1    Сияю от радости           19.1000           1.690         150.0
12   След от поцелуя           21.7000           2.870          98.7
3      Слёзы радости          233.0000           7.310        2270.0
10    Солнечные очки            4.7200           3.930         198.0
5           Счастлив           22.7000           4.260         565.0
0          Ухмыляюсь            2.2600           1.020          87.3
7              Целую           87.5000           5.130         432.0
15             Червы            3.3100           1.820         697.0

In [14]:
sorted(list(data['ТВИТТЕР, МЛН']), reverse=True)

[2270.0,
 1080.0,
 932.0,
 834.0,
 697.0,
 654.0,
 565.0,
 478.0,
 445.0,
 432.0,
 264.0,
 227.0,
 198.0,
 150.0,
 150.0,
 98.7,
 87.3,
 0.0,
 0.0,
 0.0]

In [16]:
new_data = data.sort_values(by='ТВИТТЕР, МЛН', ascending=False)
new_data

            Название  EMOJIXPRESS, МЛН  INSTAGRAM, МЛН  ТВИТТЕР, МЛН
3      Слёзы радости          233.0000           7.310        2270.0
14            Сердце          118.0000          26.000        1080.0
19       Переработка            0.0333           0.056         932.0
6       Глаза-сердца           64.6000          11.200         834.0
15             Червы            3.3100           1.820         697.0
11      Громко плачу           24.7000           1.350         654.0
5           Счастлив           22.7000           4.260         565.0
9         Равнодушие            6.0000           0.236         478.0
13        Два сердца           10.0000           5.690         445.0
7              Целую           87.5000           5.130         432.0
4         Подмигиваю           15.2000           2.360         264.0
16             Класс           23.1000           3.750         227.0
10    Солнечные очки            4.7200           3.930         198.0
18             Огонь            4.5000           2.490         150.0
1    Сияю от радости           19.1000           1.690         150.0
12   След от поцелуя           21.7000           2.870          98.7
0          Ухмыляюсь            2.2600           1.020          87.3
2   Катаюсь от смеха           25.6000           0.774           0.0
17   Пожимаю плечами            1.7400           0.110           0.0
8       Задумчивость            6.8100           0.636           0.0

In [21]:
data[(data['Название'] ==  'Глаза-сердца')  |
     (data['Название'] == 'Целую')  |
     (data['Название'] == 'Задумчивость')]

       Название  EMOJIXPRESS, МЛН  INSTAGRAM, МЛН  ТВИТТЕР, МЛН
6  Глаза-сердца             64.60          11.200         834.0
8  Задумчивость              6.81           0.636           0.0
7         Целую             87.50           5.130         432.0