In [11]:
from pandas import DataFrame as df

data = [
    ['Ухмыляюсь', 2.26, 1.02, 87.3],
    ['Сияю от радости', 19.1, 1.69, 150.0],
    ['Катаюсь от смеха', 25.6, 0.774, 0.0],
    ['Слёзы радости', 233.0, 7.31, 2270.0],
    ['Подмигиваю', 15.2, 2.36, 264.0],
    ['Счастлив', 22.7, 4.26, 565.0],
    ['Глаза-сердца', 64.6, 11.2, 834.0],
    ['Целую', 87.5, 5.13, 432.0],
    ['Задумчивость', 6.81, 0.636, 0.0],
    ['Равнодушие', 6.0, 0.236, 478.0],
    ['Солнечные очки', 4.72, 3.93, 198.0],
    ['Громко плачу', 24.7, 1.35, 654.0],
    ['След от поцелуя', 21.7, 2.87, 98.7],
    ['Два сердца', 10.0, 5.69, 445.0],
    ['Сердце', 118.0, 26.0, 1080.0],
    ['Червы', 3.31, 1.82, 697.0],
    ['Класс', 23.1, 3.75, 227.0],
    ['Пожимаю плечами', 1.74, 0.11, 0.0],
    ['Огонь', 4.5, 2.49, 150.0],
    ['Переработка', 0.0333, 0.056, 932.0]
]

data = df(data, columns=['Название', 'EMOJIXPRESS, МЛН', 'INSTAGRAM, МЛН', 'ТВИТТЕР, МЛН'])

In [12]:
data['Total'] = round(data['EMOJIXPRESS, МЛН'] + data['INSTAGRAM, МЛН'] + data['ТВИТТЕР, МЛН'], 2)
data

            Название  EMOJIXPRESS, МЛН  INSTAGRAM, МЛН  ТВИТТЕР, МЛН    Total
0          Ухмыляюсь            2.2600           1.020          87.3    90.58
1    Сияю от радости           19.1000           1.690         150.0   170.79
2   Катаюсь от смеха           25.6000           0.774           0.0    26.37
3      Слёзы радости          233.0000           7.310        2270.0  2510.31
4         Подмигиваю           15.2000           2.360         264.0   281.56
5           Счастлив           22.7000           4.260         565.0   591.96
6       Глаза-сердца           64.6000          11.200         834.0   909.80
7              Целую           87.5000           5.130         432.0   524.63
8       Задумчивость            6.8100           0.636           0.0     7.45
9         Равнодушие            6.0000           0.236         478.0   484.24
10    Солнечные очки            4.7200           3.930         198.0   206.65
11      Громко плачу           24.7000           1.350         654.0   680.05
12   След от поцелуя           21.7000           2.870          98.7   123.27
13        Два сердца           10.0000           5.690         445.0   460.69
14            Сердце          118.0000          26.000        1080.0  1224.00
15             Червы            3.3100           1.820         697.0   702.13
16             Класс           23.1000           3.750         227.0   253.85
17   Пожимаю плечами            1.7400           0.110           0.0     1.85
18             Огонь            4.5000           2.490         150.0   156.99
19       Переработка            0.0333           0.056         932.0   932.09

In [13]:
emojixpress_mean = data['EMOJIXPRESS, МЛН'].mean()
instagram_mean = data['INSTAGRAM, МЛН'].mean()
twitter_mean = data['ТВИТТЕР, МЛН'].mean()
total_mean = data['Total'].mean()

from prettytable import PrettyTable

table = PrettyTable()
table.field_names = ['НАЗВАНИЕ', 'РЕЗУЛЬТАТ']
table.add_row(['emojixpress_mean', str(round(emojixpress_mean, 2))])
table.add_row(['instagram_mean', str(round(instagram_mean, 2))])
table.add_row(['twitter_mean', str(round(twitter_mean, 2))])
table.add_row(['total_mean', str(round(total_mean, 2))])
print(table)

+------------------+-----------+
|     НАЗВАНИЕ     | РЕЗУЛЬТАТ |
+------------------+-----------+
| emojixpress_mean |   34.73   |
|  instagram_mean  |    4.13   |
|   twitter_mean   |   478.1   |
|    total_mean    |   516.96  |
+------------------+-----------+

In [20]:
data['Индекс использования'] = 100 * data['Total'] / sum(data['Total'])

def table_create(name:str):
    new_data = data.sort_values(by=name, ascending=False)
    table = PrettyTable()
    table.field_names = ['НАЗВАНИЕ', name.lower()]
    for i in range(5):
        table.add_row([new_data['Название'].iloc[i], str(round(new_data[name].iloc[i], 2))])
    print(table)

table_create('EMOJIXPRESS, МЛН')
table_create('INSTAGRAM, МЛН')
table_create('ТВИТТЕР, МЛН')
table_create('Total')
table_create('Индекс использования')

+------------------+------------------+
|     НАЗВАНИЕ     | emojixpress, млн |
+------------------+------------------+
|  Слёзы радости   |      233.0       |
|      Сердце      |      118.0       |
|      Целую       |       87.5       |
|   Глаза-сердца   |       64.6       |
| Катаюсь от смеха |       25.6       |
+------------------+------------------+
+---------------+----------------+
|    НАЗВАНИЕ   | instagram, млн |
+---------------+----------------+
|     Сердце    |      26.0      |
|  Глаза-сердца |      11.2      |
| Слёзы радости |      7.31      |
|   Два сердца  |      5.69      |
|     Целую     |      5.13      |
+---------------+----------------+
+---------------+--------------+
|    НАЗВАНИЕ   | твиттер, млн |
+---------------+--------------+
| Слёзы радости |    2270.0    |
|     Сердце    |    1080.0    |
|  Переработка  |    932.0     |
|  Глаза-сердца |    834.0     |
|     Червы     |    697.0     |
+---------------+--------------+
+---------------+---------+
|    НАЗВАНИЕ   |  total  |
+---------------+---------+
| Слёзы радости | 2510.31 |
|     Сердце    |  1224.0 |
|  Переработка  |  932.09 |
|  Глаза-сердца |  909.8  |
|     Червы     |  702.13 |
+---------------+---------+
+---------------+----------------------+
|    НАЗВАНИЕ   | индекс использования |
+---------------+----------------------+
| Слёзы радости |        24.28         |
|     Сердце    |        11.84         |
|  Переработка  |         9.02         |
|  Глаза-сердца |         8.8          |
|     Червы     |         6.79         |
+---------------+----------------------+