Импортируем библиотеку pandas:

In [2]:
import pandas as pd

Если надоедает писать print(), то можно в начале блокнота вставить команды:

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Данные с прошлых занятий:

In [34]:
data=pd.read_excel('movies.xlsx', dtype={'b': int, 'e': str})
# теперь можно не использовать print() для вывода, так кстати фреймы данных выглядят как аккуратные таблички:
data

,Название,Год,Рейтинг,"Длина, мин.",Жанр,"Бюджет, \$ млн","Сборы, \$ млн"
0,Форма воды,2017,6.914,123,"фантастика, драма",19.4,195.243464
1,Лунный свет,2016,6.151,110,драма,1.5,65.046687
2,В центре внимания,2015,7.489,129,"драма, криминал, история",20.0,88.346473
3,Бёрдмэн,2014,7.604,119,"драма, комедия",18.0,103.215094
4,12 лет рабства,2013,7.710,133,"драма, биография, история",20.0,178.371993
5,Операция «Арго»,2012,7.517,120,"триллер, драма, биография",44.5,232.324128
6,Артист,2011,7.942,96,"драма, мелодрама, комедия",15.0,133.432856
7,Король говорит!,2010,7.977,118,"драма, биография, история",15.0,414.211549
8,Повелитель бури,2008,7.298,126,"триллер, драма, военный, история",15.0,49.230772
9,Миллионер из трущоб,2008,7.724,120,"драма, мелодрама",15.0,377.910544
10,Старикам тут не место,2007,7.726,122,"триллер, драма, криминал",25.0,171.627166
11,Отступники,2006,8.456,151,"триллер, драма, криминал",90.0,289.847354
12,Столкновение,2004,7.896,108,"триллер, драма, криминал",6.5,98.410061
13,Малышка на миллион,2004,8.075,132,"драма, спорт",30.0,216.763646
14,Властелин колец: Возвращение Короля,2003,8.617,201,"фэнтези, драма, приключения",94.0,1119.110941
15,Чикаго,2002,7.669,113,"мюзикл, комедия, криминал",45.0,306.776732
16,Игры разума,2001,8.557,135,"драма, биография, мелодрама",58.0,313.542341
17,Гладиатор,2000,8.585,155,"боевик, драма, приключения",103.0,457.640427
18,Красота по-американски,1999,7.965,122,драма,15.0,356.296601
19,Влюбленный Шекспир,1998,7.452,123,"драма, мелодрама, комедия, история",25.0,289.317794
20,Титаник,1997,8.369,194,"драма, мелодрама",200.0,2185.372302
21,Английский пациент,1996,7.849,155,"драма, мелодрама, военный",27.0,231.976425
22,Храброе сердце,1995,8.283,178,"драма, военный, биография, история",72.0,210.409945
23,Форрест Гамп,1994,8.915,142,"драма, мелодрама",55.0,677.386686
24,Список Шиндлера,1993,8.819,195,"драма, биография, история",22.0,321.265768
25,Непрощенный,1992,7.858,131,"драма, вестерн",14.4,159.157447
26,Молчание ягнят,1990,8.335,114,"триллер, криминал, детектив, драма, ужасы",19.0,272.742922
27,Танцующий с волками,1990,8.112,181,"драма, приключения, вестерн",22.0,424.208848
28,Шофёр мисс Дэйзи,1989,7.645,99,драма,7.5,145.793296
29,Человек дождя,1988,8.250,133,драма,25.0,354.825435

## Задача
Напишите функцию filter_without_genre(). Она должна печатать из таблицы все фильмы не содержащие заданного жанра. Аргументы этой функции: таблица с фильмами и жанр, который нужно исключить. 
Вызовите написанную функцию, чтобы найти в таблице все фильмы без жанра «драма».

In [39]:
def filter_without_genre(genre:str) -> list:
    index = [i for i in range(len(data))]
    mass = []
    for id, name in zip(index, list(data['Жанр'].tolist())):
        if not genre in name:
            mass.append(data['Название'].iloc[id])
    return mass

filter_without_genre('драма')

['Чикаго                             ']

## Задача
Воспользуйтесь оператором and, чтобы найти и напечатать в таблице все исторические фильмы новее 2000 года

In [40]:
def filter_without_genre_data(genre:str, date:int=2000) -> list:
    index = [i for i in range(len(data))]
    mass = []
    for id, name in zip(index, list(data['Жанр'].tolist())):
        if genre in name and data['Год'].iloc[id] > date:
            mass.append(data['Название'].iloc[id])
    return mass

filter_without_genre('драма')

['Форма воды                         ',
 'Лунный свет                        ',
 'В центре внимания                  ',
 'Бёрдмэн                            ',
 '12 лет рабства                     ',
 'Операция «Арго»                    ',
 'Артист                             ',
 'Король говорит!                    ',
 'Повелитель бури                    ',
 'Миллионер из трущоб                ',
 'Старикам тут не место              ',
 'Отступники                         ',
 'Столкновение                       ',
 'Малышка на миллион                 ',
 'Властелин колец: Возвращение Короля',
 'Игры разума                        ']

## Задача

Найдите в таблице все фильмы жанров «фэнтези» и «фантастика»:

In [57]:
def filter_genre(option:bool, *args:str) -> list:
    """
    :param option:  Опция фильтра, если True то будут искаться фильмы имеющий строго заданный(ые) жанр(ы)
                    Если False - нестрогий поиск жанра.
    :param args:    Жанры поиска
    :return: результаты поиска
    """

    index = [i for i in range(len(data))]
    mass = []
    genre_list = list(args)

    for id, name in zip(index, list(data['Жанр'].tolist())):
        status = []
        for genre in genre_list:
            if genre in name:
                status.append(True)
            else:
                status.append(False)
        if option:
            if status.count(True) == len(status):
                mass.append(data['Название'].iloc[id])
        else:
            if status.count(True) >= 1:
               mass.append(data['Название'].iloc[id])
        status = []
    return mass

# filter_genre(False, 'спорт', 'криминал') # Возвращает массив имен фильмов
filtered_data = data[data['Название'].isin(filter_genre(False, 'спорт', 'криминал'))]
filtered_data

,Название,Год,Рейтинг,"Длина, мин.",Жанр,"Бюджет, \$ млн","Сборы, \$ млн"
2,В центре внимания,2015,7.489,129,"драма, криминал, история",20.0,88.346473
10,Старикам тут не место,2007,7.726,122,"триллер, драма, криминал",25.0,171.627166
11,Отступники,2006,8.456,151,"триллер, драма, криминал",90.0,289.847354
12,Столкновение,2004,7.896,108,"триллер, драма, криминал",6.5,98.410061
13,Малышка на миллион,2004,8.075,132,"драма, спорт",30.0,216.763646
15,Чикаго,2002,7.669,113,"мюзикл, комедия, криминал",45.0,306.776732
26,Молчание ягнят,1990,8.335,114,"триллер, криминал, детектив, драма, ужасы",19.0,272.742922

## Задача
Напишите функцию filter_suspense(), которая находит фильмы самых напряжённых жанров: «триллер» или «ужасы». Функция должна принимать как аргумент исходную таблицу и, не меняя её, возвращать отфильтрованную.

In [58]:
filtered_data = data[data['Название'].isin(filter_genre(False, 'триллер', 'ужасы'))]
filtered_data

,Название,Год,Рейтинг,"Длина, мин.",Жанр,"Бюджет, \$ млн","Сборы, \$ млн"
5,Операция «Арго»,2012,7.517,120,"триллер, драма, биография",44.5,232.324128
8,Повелитель бури,2008,7.298,126,"триллер, драма, военный, история",15.0,49.230772
10,Старикам тут не место,2007,7.726,122,"триллер, драма, криминал",25.0,171.627166
11,Отступники,2006,8.456,151,"триллер, драма, криминал",90.0,289.847354
12,Столкновение,2004,7.896,108,"триллер, драма, криминал",6.5,98.410061
26,Молчание ягнят,1990,8.335,114,"триллер, криминал, детектив, драма, ужасы",19.0,272.742922

In [59]:
filtered_data = data[data['Название'].isin(filter_genre(True, 'триллер', 'ужасы'))]
filtered_data

,Название,Год,Рейтинг,"Длина, мин.",Жанр,"Бюджет, \$ млн","Сборы, \$ млн"
26,Молчание ягнят,1990,8.335,114,"триллер, криминал, детектив, драма, ужасы",19.0,272.742922

## Задача 
Для анализа фильмов по годам, нужно научиться выделять диапазоны. Найдите все фильмы начиная с 2000 по 2010.

In [60]:
data.loc[(data['Год']>=2000)&(data['Год']<2010)]

,Название,Год,Рейтинг,"Длина, мин.",Жанр,"Бюджет, \$ млн","Сборы, \$ млн"
8,Повелитель бури,2008,7.298,126,"триллер, драма, военный, история",15.0,49.230772
9,Миллионер из трущоб,2008,7.724,120,"драма, мелодрама",15.0,377.910544
10,Старикам тут не место,2007,7.726,122,"триллер, драма, криминал",25.0,171.627166
11,Отступники,2006,8.456,151,"триллер, драма, криминал",90.0,289.847354
12,Столкновение,2004,7.896,108,"триллер, драма, криминал",6.5,98.410061
13,Малышка на миллион,2004,8.075,132,"драма, спорт",30.0,216.763646
14,Властелин колец: Возвращение Короля,2003,8.617,201,"фэнтези, драма, приключения",94.0,1119.110941
15,Чикаго,2002,7.669,113,"мюзикл, комедия, криминал",45.0,306.776732
16,Игры разума,2001,8.557,135,"драма, биография, мелодрама",58.0,313.542341
17,Гладиатор,2000,8.585,155,"боевик, драма, приключения",103.0,457.640427